:host {
  width: 100%;
  #scoresDetailHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    button { 
      margin-right: 12px;
    }
  }
  #content {
    #spinner {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #board {
      max-width: 200px;
      background: #ffffff;
      margin: 0 auto;
      .fill {
        background: #673ab7;
        width: 100%;
        text-align: center;
      }
      .void {
        background: #cccccc;
        width: 100%;
        text-align: center;
      }
    }
    #scoresList {
      padding-left: 0;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        padding: 7px 0;
        background: #ffffff;
        border-bottom: 1px solid #ccc;
        div {
          display: flex;
          justify-content: center;
        }
        .order {
          width: 25%;
          font-size: 20px;
          font-weight: 800;
        }
        #score1 {
          font-size: 42px;
          color: #ffd700;
        }
        #score2 {
          color: #d2691e;
          font-size: 42px;
        }
        #score3 {
          color: #b3b0b0;
          font-size: 42px;
        }
        .stars, .alias, .time {
          width: 25%;
        }
      }
      li.userScore {
        background: #673ab7;
        color: #ffffff;
      }
    }
  }
}
@media only screen and (max-width: 425px) { 
  :host {
    #content { 
      #board {
        max-width: 140px;
      }
    }
  }
}