<div id="scoresDetailHeader">
  <button mat-mini-fab color="primary" routerLink="/hall-of-fame">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <h2>{{_language?.translations?.hallOfFame?.detail?.title}}</h2>
</div>
<div id="content">
  <div id="spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div id="board">
    <mat-grid-list cols="{{columns}}" rowHeight="1:1">
      <mat-grid-tile *ngFor="let item of board; let index = index;">
        <div *ngIf="item === 1" class="fill">&nbsp;</div>
        <div *ngIf="item === 0" class="void">&nbsp;</div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ul id="scoresList" *ngIf="!isLoading">
    <li #listItem *ngFor="let item of scores, let index = index;">
      <div class="order" id="score{{index + 1}}">{{index + 1}}</div>
      <div [ngSwitch]="item.rating" class="stars">
        <span *ngSwitchCase="3">
          <mat-icon color="accent">star</mat-icon>
          <mat-icon color="accent">star</mat-icon>
          <mat-icon color="accent">star</mat-icon>
        </span>
        <span *ngSwitchCase="2">
          <mat-icon color="accent">star</mat-icon>
          <mat-icon color="accent">star</mat-icon>
        </span>
        <span *ngSwitchCase="1">
          <mat-icon color="accent">star</mat-icon>
        </span>
      </div>
      <div class="alias">{{item.name}}</div>
      <div class="time">{{item.time}}</div>
    </li>
  </ul>
</div>