<div id="rulesHeader">
  <button mat-mini-fab color="primary" routerLink="/home">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <h2>{{_language?.translations?.rulesPage?.title}}</h2>
</div>
<p>{{_language?.translations?.rulesPage?.firstParagraph}}</p>
<p>{{_language?.translations?.rulesPage?.secondParagraph}}</p>
<p>{{_language?.translations?.rulesPage?.thirdParagraph}}</p>
<p>{{_language?.translations?.rulesPage?.fourthParagraph}}</p>
