:host {
  width: 100%;
  display: flex;
  justify-content: center;
  #container {
    width: 44%;
    #spinner {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #upper-container {
      display: flex;
      .left {
        width: 15%;
      }
      .right {
        width: 85%;
      }
    }
    mat-grid-list {
      background: #ccc;
      border: 1px solid #ccc;
      .mat-grid-tile {
        background: #fff;
        .left-clues {
          font-size: 9px;
        }
      }
    }
    .boardHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .scoredMessage {
        font-size: 18px;
        font-weight: 200;
        color: #673ab7;
      }
    }
    #lives {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;
      .live {
        color:#f44336;
        transition: 150ms;
      }
      .live.consumed{
        color: #ccc;
      }
      .mat-icon {
        font-size: 34px;
        margin: 0 2px;
        height: 32px;
        width: 32px;
      }
    }
    #upper-clues {
      .mat-grid-tile.completed {
        background: #ccc;
        color: #8d8b8b;
      }
      .mat-grid-tile.highlihted {
        background: #e2dcec;
      }
      ul {
        list-style: none;
        padding-left: 0;
        font-size: 9px;
        li {
          display: flex;
          justify-content: center;
        }
      }
    }
    #slider-container {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      #second-icon {
        font-size: 35px;
        margin: 6px 0 0 -6px;
      }
      #first-icon {
        color: #000;
        cursor: pointer;
      }
    }
    #board-container {
      display: flex;
      #left {
        width: 15%;
        .mat-grid-tile.completed {
          background: #ccc;
          color: #8d8b8b;
        }
        .mat-grid-tile.highlihted {
          background: #e2dcec;
        }
        /* .mat-grid-list {
          padding-bottom: calc(((10 * ((54.5% - 0px) * 1)) + 0px) + 9px)!important;
        } */
      }
      #right {
        width: 85%;
      }

      #board {
        mat-grid-tile {
          cursor: pointer;
        }
        mat-grid-tile.hover {
          background: #e2dcec;
        }
        mat-grid-tile.fill {
          background: #673ab7;
        }
        mat-grid-tile.void {
          background: url(../../assets/img/x.png) no-repeat #fff;
          background-size: 80% 80%;
          background-position: center;
        }
        mat-grid-tile.error {
          background: red;
        }
      }
      .easy {
        mat-grid-tile:nth-child(5),
        mat-grid-tile:nth-child(15),
        mat-grid-tile:nth-child(25),
        mat-grid-tile:nth-child(35),
        mat-grid-tile:nth-child(45),
        mat-grid-tile:nth-child(55),
        mat-grid-tile:nth-child(65),
        mat-grid-tile:nth-child(75),
        mat-grid-tile:nth-child(85),
        mat-grid-tile:nth-child(95) { 
          border-right: 1px solid #000;
        }
        mat-grid-tile:nth-child(41),
        mat-grid-tile:nth-child(42),
        mat-grid-tile:nth-child(43),
        mat-grid-tile:nth-child(44),
        mat-grid-tile:nth-child(45),
        mat-grid-tile:nth-child(46),
        mat-grid-tile:nth-child(47),
        mat-grid-tile:nth-child(48),
        mat-grid-tile:nth-child(49),
        mat-grid-tile:nth-child(50) { 
          border-bottom: 1px solid #000;
        }
      }
      .hard {
        mat-grid-tile:nth-child(5),
        mat-grid-tile:nth-child(10),
        mat-grid-tile:nth-child(20),
        mat-grid-tile:nth-child(25),
        mat-grid-tile:nth-child(35),
        mat-grid-tile:nth-child(40),
        mat-grid-tile:nth-child(50),
        mat-grid-tile:nth-child(55),
        mat-grid-tile:nth-child(65),
        mat-grid-tile:nth-child(70),
        mat-grid-tile:nth-child(80),
        mat-grid-tile:nth-child(85),
        mat-grid-tile:nth-child(95),
        mat-grid-tile:nth-child(100),
        mat-grid-tile:nth-child(110),
        mat-grid-tile:nth-child(115),
        mat-grid-tile:nth-child(125),
        mat-grid-tile:nth-child(130),
        mat-grid-tile:nth-child(140),
        mat-grid-tile:nth-child(145),
        mat-grid-tile:nth-child(155),
        mat-grid-tile:nth-child(160),
        mat-grid-tile:nth-child(170),
        mat-grid-tile:nth-child(175),
        mat-grid-tile:nth-child(185),
        mat-grid-tile:nth-child(190),
        mat-grid-tile:nth-child(200),
        mat-grid-tile:nth-child(205),
        mat-grid-tile:nth-child(215),
        mat-grid-tile:nth-child(220) { 
          border-right: 1px solid #000;
        }

        mat-grid-tile:nth-child(61),
        mat-grid-tile:nth-child(62),
        mat-grid-tile:nth-child(63),
        mat-grid-tile:nth-child(64),
        mat-grid-tile:nth-child(65),
        mat-grid-tile:nth-child(66),
        mat-grid-tile:nth-child(67),
        mat-grid-tile:nth-child(68),
        mat-grid-tile:nth-child(69),
        mat-grid-tile:nth-child(70),
        mat-grid-tile:nth-child(71),
        mat-grid-tile:nth-child(72),
        mat-grid-tile:nth-child(73),
        mat-grid-tile:nth-child(74),
        mat-grid-tile:nth-child(75),
        mat-grid-tile:nth-child(136),
        mat-grid-tile:nth-child(137),
        mat-grid-tile:nth-child(138),
        mat-grid-tile:nth-child(139),
        mat-grid-tile:nth-child(140),
        mat-grid-tile:nth-child(141),
        mat-grid-tile:nth-child(142),
        mat-grid-tile:nth-child(143),
        mat-grid-tile:nth-child(144),
        mat-grid-tile:nth-child(145),
        mat-grid-tile:nth-child(146),
        mat-grid-tile:nth-child(147),
        mat-grid-tile:nth-child(148),
        mat-grid-tile:nth-child(149),
        mat-grid-tile:nth-child(150) { 
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  :host {
    #container {
      .boardHeader {
        .scoredMessage {
          font-size: 15px;
        }
      }
      width: 95%!important;
      #upper-container {
        display: flex;
        .left {
          width: 18%!important;
        }
        .right {
          width: 82%!important;
          .mat-grid-tile.completed {
            background: #ccc;
            color: #8d8b8b;
          }
        }
      }
      #board-container {
        display: flex;
        #left {
          width: 18%!important;
          /* .mat-grid-list {
            padding-bottom: calc(((10 * ((54.5% - 6.25px) * 1)))) !important
          } */
          .mat-grid-tile.completed {
            background: #ccc;
            color: #8d8b8b;
          }
        }
        #right {
          width: 82%!important;
        }
      }
    } 
  } 
}


