<div id="container" ngClass="{{gameType}}">
  <div id="spinner" *ngIf="!_propertiesService.isBoardReady">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div *ngIf="_propertiesService.isBoardReady">
    <div class="boardHeader">
      <button mat-mini-fab color="primary" (click)="backHome()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <div 
        class="scoredMessage" 
        *ngIf="_propertiesService.isActualBoardScored">
        {{_language?.translations?.boardGame?.boardState?.scoredTrue}}
      </div>
      <div 
        class="scoredMessage" 
        *ngIf="!_propertiesService.isActualBoardScored">
        {{_language?.translations?.boardGame?.boardState?.scoredFalse}}
      </div>
    </div>
    <div id="lives">
      <app-time-counter [isTimerRunning]="_propertiesService.timerRunning"></app-time-counter>
      <div>
        <mat-icon 
          #live class="live" 
          *ngFor="let item of _propertiesService.lives;" 
          color="warn">
          {{item}}
        </mat-icon>
      </div>
    </div>
    <div id="upper-container">
      <div class="left"></div>
      <div class="right">
        <mat-grid-list 
          id="upper-clues" 
          cols="{{_propertiesService.columns}}" 
          rowHeight="{{_propertiesService.upperCluesRowHeight}}">
            <mat-grid-tile 
              *ngFor="let item of _propertiesService.colResultArray;let index = index;" 
              id="upperClues{{index}}">
              <ul>
                <li *ngFor="let it of item">{{it}}</li>
              </ul>
            </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div id="board-container">
      <div id="left">
        <mat-grid-list 
          cols="1" 
          rowHeight="{{_propertiesService.leftCluesRowHeight}}" >
          <mat-grid-tile 
            *ngFor="let item of _propertiesService.rowResutArray; let index = index;" 
            id="leftClues{{index}}">
            <span class="left-clues" *ngFor="let it of item">{{it}}<span>&nbsp;</span></span>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div id="right">
        <mat-grid-list 
          id="board" 
          cols="{{_propertiesService.columns}}" 
          ngClass={{_propertiesService.gameType}}  
          rowHeight="1:1">
          <mat-grid-tile
            #boardTile
            id="{{index}}"
            *ngFor="let item of _propertiesService.boardArray; let index = index;" 
            (click)="tileClicked($event, item.id)"
            (mouseenter)="highLightColsRows($event, 'enter')"
            (mouseleave)="highLightColsRows($event, 'leave')"
            [attr.data-type]="item.id"
            [attr.data-clicked]="false">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div id="slider-container">
      <mat-icon 
        id="first-icon" 
        (click)="slideClick()">
          clear
      </mat-icon>
      <mat-slide-toggle  
        color="primary" 
        [checked]="_propertiesService.checked" 
        (change)="slideChange()">
          <mat-icon 
            color="primary"
            id="second-icon">
          stop</mat-icon>
      </mat-slide-toggle>
    </div>
  </div>
</div>
