:host {
  width: 100%;
  #hallHeader {
    display: flex;
    justify-content: left;
    align-items: center;
    button { 
      margin-right: 12px;
    }
  }
  #content {
    #spinner {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #boardsScoresList {
    padding-left: 0;
    list-style: none;
    li {
      padding: 7px 0;
      background: #ffffff;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
      cursor: pointer;
      .board {
        width: 150px;
        background: rgb(78, 76, 76);
        border: 1px solid rgb(78, 76, 76);
        margin-right: 12px;
        float: left;
        .fill {
          background: #673ab7;
          width: 100%;
          text-align: center;
        }
        .void {
          background: #cccccc;
          width: 100%;
          text-align: center;
        }
      }
      .scores {
        width: calc(100% - 164px);
        float: left;
        ul {
          list-style: none;
          padding-left: 0;
          li {
            display: flex;
            align-items: center;
            .order {
              width: 10%;
            }
            .stars {
              width: 48%;
            }
            .alias, .time {
              width: 21%;
            }
            div {
              text-align: center;
            }
          }
          li:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  :host {
    #boardsScoresList {
      li {
        .board {
          width: 100px;
        }.scores {
          width: calc(100% - 114px);
          ul {
            li {
              padding: 3px 0;
            }
          }
        }
      }
    }
  }
}