<div id="hallHeader">
  <button mat-mini-fab color="primary" routerLink="/home">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <h2>
    {{_language?.translations?.hallOfFame?.title}}
  </h2>
</div>
<div id="content">
  <div id="spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <ul id="boardsScoresList" *ngIf="!isLoading">
    <li *ngFor="let item of boards;" (click)="goToBoardDetail(item.id)">
      <div class="board" *ngIf="item.value.length == 100">
        <mat-grid-list cols="10" rowHeight="1:1">
          <mat-grid-tile *ngFor="let it of item.value; let index = index;">
            <div *ngIf="it === 1" class="fill">&nbsp;</div>
            <div *ngIf="it === 0" class="void">&nbsp;</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="board" *ngIf="item.value.length == 225">
        <mat-grid-list cols="15" rowHeight="1:1">
          <mat-grid-tile *ngFor="let it of item.value; let index = index;">
            <div *ngIf="it === 1" class="fill">&nbsp;</div>
            <div *ngIf="it === 0" class="void">&nbsp;</div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="scores">
        <ul>
          <li #listItem *ngFor="let it of item.users; let index = index;">
            <div class="order">{{index + 1}}</div>
            <div [ngSwitch]="it.rating" class="stars">
              <span *ngSwitchCase="3">
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
              </span>
              <span *ngSwitchCase="2">
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
              </span>
              <span *ngSwitchCase="1">
                <mat-icon color="accent">star</mat-icon>
              </span>
            </div>
            <div class="alias">{{it.name}}</div>
            <div class="time">{{it.time}}</div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

