@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.success-snackbar {
  color: greenyellow;
  background: none;
  box-shadow: none;
  text-shadow: 1px 0px 2px #000000;
}
.error-snackbar {
  background: none;
  color: red;
  box-shadow: none;
  text-shadow: 1px 0px 2px #000000;
}

.mat-simple-snackbar {
  font-size: 30px;
  justify-content: center!important;
}