<div id="button-container">
  <button mat-raised-button color="primary" routerLink="/game-board/easy">{{_language?.translations?.buttons?.easyGame}}</button>
  <button mat-raised-button color="primary" routerLink="/game-board/hard">{{_language?.translations?.buttons?.hardGame}}</button>
  <mat-divider></mat-divider>
  <button mat-raised-button color="accent" routerLink="/rules">{{_language?.translations?.buttons?.rules}}</button>
  <button mat-raised-button color="accent" routerLink="/hall-of-fame">{{_language?.translations?.buttons?.hallOfFame}}</button>
</div>

