#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 12px;
  height: 350px;
  flex-direction: column;
  button {
    width: 100%;
    margin-bottom: 12px;
  }
  mat-divider {
    width: 100%;
    margin: 10px 0 20px;
  }
}