:host {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  .mat-dialog-title, p {
    text-align: center;
  }
  #lives-left {
    display: flex;
    align-items: center;
    justify-content: center;
    .mat-icon {
      font-size: 50px;
      margin: 0 2px;
      height: 50px;
      width: 50px;
    }
  }
  #button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    input {
      text-transform: uppercase;
    }
    button {
      width: 100%;
      margin-bottom: 12px;
    }
  }
}
