<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <div id="lives-left">
      <mat-icon *ngFor="let item of data.rating" color="accent">{{item}}</mat-icon>
  </div>
  <p>{{data.message}}</p>
  <p *ngIf="data.hasWon">{{_language?.translations?.boardGame?.dialog?.win?.timeMessage1}}{{data.time}} {{_language?.translations?.boardGame?.dialog?.win?.timeMessage2}}</p>
</div>
<div id="button-container">
  <form class="example-form" *ngIf="data.hasWon">
    <mat-form-field class="example-full-width">
      <input #ratingInput [maxLength]="3" matInput placeholder="{{_language?.translations?.boardGame?.dialog?.ratingInput}}">
    </mat-form-field>
    <button mat-raised-button color="accent" [matDialogClose] (click)="sendRating()">{{_language?.translations?.buttons?.send}}</button>
  </form>
  <button *ngIf="!data.hasWon" mat-raised-button color="primary" [matDialogClose] routerLink="/home">{{_language?.translations?.buttons?.close}}</button>
</div>